

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes gira {
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform:rotate(-15deg);
    }
    50%{
        transform: rotate(15deg);
    }
    75%{
        transform:rotate(-15deg);
    }
   
}

@keyframes pulsar{

    0%{
      transform: scale(0);
      opacity: 1;
  }
  25%{
    transform: scale(.6);
      opacity: 1;
  }
  50%{
    transform: scale(0.8);
      opacity: 0.5;
  }
  80%{
      transform: scale(1);
      opacity: 1;
  }
   100%{
      transform: scale(1.2);
      opacity: 1;
  }
  
}