
/* img {
    max-width: 100%;
    display: block;
    border-radius: 8px;
} */
div.item{
    max-width: 100%;
    padding: 2.2rem;
    display: block;
    border-radius: 8px;
    color:#B8E1FF;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly; 
    text-shadow: #008BF8 0px 0px 3px;
   
}
div.item h3{
    display:block;
    font-family: 'Italiana', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    color:white;
    background-color: black;
    padding: 10px;
    border-radius: 15px 15px 0 0;
    opacity:.7;
}
div.item h2{
    background-color: black;
    text-align: center;
    font-family: 'Italiana', sans-serif;
    border-radius: 0 0 15px 15px;
    opacity:.7;
}
div.img-leo.imgWel{
    width:25rem;
    height:25rem;  
    top:2rem;
  }
div.item.item-1{
    width: 100%;
    height: 85vh;
    background: url(../img/textFront3.avif);
    background-position: 15% center;
    background-repeat:no-repeat;
    background-size: cover;
    padding-top:50%;
}


div.item.item-1-1{
    width: 100%;
    height: 85vh;
    background: url(../img/textFront.avif);
    background-position: center center;
    background-repeat:no-repeat;
    background-size: cover;
    padding-top:50%;
}
div.item.item1-2{
    width: 100%;
    height: 85vh;
    background: url(../img/textFront2.avif);
    background-position: center center;
    background-repeat:no-repeat;
    background-size: cover;
    padding-top:50%;
}

div.item.item-2{
    width: 100%;
    height: 85vh;
    background: url(../img/textFront3.avif);
    background-position: center center;
    background-repeat:no-repeat;
    background-size: cover;
    padding-top:50%;
   
    
}
div.item.item-3{
    width: 100%;
    height: 85vh;
    background: url(../img/95.avif);
    background-position: center center;
    background-repeat:no-repeat;
    background-size: cover;
    padding-top:50%;
}
div.item.item-4{
    width: 100%;
    height: 85vh;
    background: url(../img/94.avif);
    background-position: center center;
    background-repeat:no-repeat;
    background-size: cover;
    padding-top:50%;
}
div.item.item-5{
    width: 100%;
    height: 85vh;
    background: url(../img/92.avif);
    background-position: center center;
    background-repeat:no-repeat;
    background-size: cover;
    padding-top:50%;

}
div.item.item-6{
    width: 100%;
    height: 85vh;
    background: url(../img/91.avif);
    background-position: center center;
    background-repeat:no-repeat;
    background-size: cover;
    padding-top:50%;
}
.slide{
    position: relative;;
    width: 880px;
    max-width: 100%;
    margin: 0 auto;
    top:4rem;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
   
}
.slide-items{
    position: relative;
}

.slide-items > *{
    position: absolute;
    pointer-events: none;
    top: 0;
    opacity: 0;
}
.slide-items > .active {
    position: relative;
    opacity: 1;
    pointer-events: initial;
}
nav.slide-nav{
    position: absolute;
    max-width: 880px;
    height: 30px;
    visibility: hidden;
    top:-5vh;
}
div.slide-thumb{
    display: flex;
    width: 100%;
}
div.slide-thumb >span{
    flex: 1;
    display: block;
    visibility: initial;
    height:3px;
    background:#008BF8; 
    border-radius: 3px;
    margin: 5px;
    overflow: hidden;
    box-shadow:white 0px 0px 7px;
}
/* div.slide-thumb > span.active{
    
} */

div.slide-thumb > span.active::after{
    content:'';
    display: block;
    height: inherit;
    background-color: white;
    border-radius: 3px;
    transform: translateX(-100%);
    animation: thumb 20s forwards linear;
}
@keyframes thumb {
    to{
      transform: initial;  
    }
}
i.slide-prev{
    position: absolute;
    left: -65px;
    top:18rem;
    opacity: .4;
    background-image:url('/img/left-arrow.png');
    background-position: center center;
    background-size: cover;
    height: 10rem;
    width: 8rem;
    cursor: pointer;
    
}
i.slide-next{
    position: absolute;
    right: -65px;
    top:18rem;
    opacity: .4;
    background-image:url('/img/right-arrow.png');
    background-position: center center;
    background-size: cover;
    height: 10rem;
    width: 8rem;
    cursor:pointer;
}
i{  
    visibility: initial ;
    transition: all .5s ease-in-out;
}
i:active{
    transform: scale(.5);
}